@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(196, 197, 203);
    border-radius: 22px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 153, 162);
}